@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.overlay {
  margin: auto;
  box-sizing: border-box;
  max-width: 42rem;
  padding: 1.3rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 90px 40px 1fr 100px;
  grid-template-columns: 1fr;
  justify-items: center;
}

main {
  max-width: 960px;
  margin-top: auto;
  margin-bottom: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Merriweather", sans-serif;
  margin-top: auto;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
